@import './variables.scss';

.about-layout {
  /* About Header */
  .about-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 66vh;
    justify-content:space-evenly;
    align-items: center;
    .about-header-desc {
      width: 500px;
      z-index: 10;
      
      & h1 {
        font-size: 4rem;
      }
      p {
        font-family: 'Josefin Sans', sans-serif;
      }
    }
    /* myResume btn */
    .myResume {
      padding: 0.5em;
      margin-top: 1em;
      cursor: pointer;
      transition: 0.2s;
      color: $clr-dark;
    }

    .myResume:hover {
      transform: scale(0.99);
      color: $clr-dark;
      background-color: $clr-main;
    }
  }
}

/* About Stack */
.about-stack {
  width: 100%;
  min-height: 66vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .stack-holder{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stack-title {
    font-size: 4rem;
    z-index: 10;
    color: $clr-sec;
  }
  .stackSet-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }

  .stackSet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 10;
    h5 {
      font-weight: 600;
    }
  }
}

/* About Education */
.education {
  width: 100%;
  min-height: 66vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: 3em 0 5em 0;

  .education-card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }

  .education-title {
    font-size: 4rem;
    z-index: 10;
    color: $clr-sec;
  }

  .education-card {
    width: 350px;
    height: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $clr-dark;
    color: $clr-light;
    z-index: 10;
    padding: 2em;
    border-radius: 10%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.02);
    }
  }

  .education-card-title {
    z-index: 10;
    font-size: 1.5rem;
    height: 90px;
    color: $clr-sec;
  }

  .education-card-dates {
    margin-top: 1em;
  }

  .education-card-desc {
    z-index: 10;
    font-size: 0.9rem;
    
  }

  // education-btn
  .education-card-btn-holder {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
  }

  .edu-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 0.7rem;
    transition: 0.5s;
    cursor: pointer;
    color: $clr-dark;
  }

  .edu-btn:hover {
    color: $clr-light;
    background-color: $clr-main;
    transform: scale(0.9);
  }
}



/* old about */
.social.vertical {
  position: fixed;
  right: 0px;
  top: 40%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  transition: 0.7s;
}

.social.vertical.active {
  right: 205px;
  
}

.social.vertical li a:hover {
  transform: scale(0.8) translateX(-15px);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.services-title {
  font-size: 3rem;
  z-index: 10;
  margin: 3em 0 1em;
  font-family: 'Redressed', cursive;
}

.Services-desc {
  font-size: 2rem;
  width: 60vw;
  z-index: 10;
}

.services-cards-holder {
  display: flex;
  width: 60vw;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

.services-card {
  margin-top: 3em;
  width: 30vw;
  height: 500px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-card-title {
  font-size: 2rem;
  height: 80px;
}

.services-card-desc {
  font-size: 1.5rem;
  text-align: center;
}

.lottie-holder {
  display: flex;
  width: 80vw;
  gap: 2em;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3em;
}