@import './variables.scss';

.form {
  width: min(60vw, 500px);
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 4em;

  .form-row {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
  }
  .form-control {
    width: 100%;
    height: 70px;
    color: $clr-dark;
    text-indent: 1em;
    border-radius: 10px;
  }
  .message-box {
    width: 100%;
    height: 150px;
    padding: 1em;
    color: $clr-dark;
    border-radius: 10px;
  }
  .submit-btn {
    @include slideSolidBtn;
    font-size: 1.5rem;
  }
}