@import './variables.scss';

.form {
  width: 60vw;
  .form-control {
    width: 100%;
    height: 50px;
    color: $clr-dark;
    text-indent: 1em;
  }
  .message-box {
    width: 100%;
    height: 150px;
    padding: 1em;
    color: $clr-dark;
  }
  .submit-btn {
    @include slideSolidBtn;
  }
}